﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Content/ASPWMS/MasterPageForHome.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Content_ASPWMS_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphPageHeading" Runat="Server">
    Home
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="cphmMainContent" Runat="Server">
    <div class="container" >
        <span class="text-center"><h1>Welcome to ASPWMS</h1></span>
        <hr />
        <h6>
         <p style="font-weight:600;text-align:justify;">Hello, welcome to the ASPWMS (Auto Spare Part Wholesale Management Sysytem). It's devlop to manage and increase your business. I am trying to devlop system which 
             is very helpful to the Wholesaler in many ways. My self Rishit Kundariya, I am devloper of this system. Key features of this System are below.
         </p></h6>
       <h6 >
            <ul style="margin-top:2rem;"   >
                <li>This is management system for Auto Spare Part Wholesaler.</li> <br />
                <li>It is manage like Retailers details, Product Details, Brand Detail, Supplier Details.</li><br />
                <li>It also manage Account Details like Credit and Debit.</li><br />
                <li>It is also include Simple Billing module.</li>
             </ul>
       </h6>
        
    </div>
</asp:Content>


